.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.page-header button{
    background:#2E7D32;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.product-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
}

.product-table th{
    background:#2E7D32;
    color:white;
    padding:14px;
}

.product-table td{
    padding:14px;
    border-bottom:1px solid #eee;
}

.product-table button{
    margin-right:6px;
    padding:6px 12px;
}
